# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# Xcode per-user data
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/
